@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Comfortaa&family=Permanent+Marker&family=Rock+Salt&family=Satisfy&display=swap');

body{
    background-image: url(../src/Assets/Fondo1.jpg);
    font-family: 'Comfortaa', cursive;
}

#logo{
    width: 10%;
    border-radius: 30px;
    position:sticky;
}

#iniReg{
    font-family: 'Berkshire Swash', cursive;
}

h4{
    font-family: 'Berkshire Swash', cursive;
}